.container{
  width:1124px;
  max-width:90%;
  margin:0px auto;
}
.mainWrapper .header{
  min-height:120px;
  /* background-color:#6f60f4; */
  box-shadow:0px 0px 5px rgba(0,0,0,0.1);
   background-position: 0px -378px;
  background-size: cover;
}
.d-flex{
  display: flex;
}
.logo{
  display: flex;
  align-items: center;
  height:120px;
  width:233px;
}
.navRight {
  display: flex;
  align-items: center;
  width:233px;
}
.navRight .search{
  position:relative;
  margin-right:15px;
}
.navRight .search span{
  position:absolute;
  right:14px;
  top:5px;
}
.navRight .search input{
  width:180px;
  height:28px;
  border-radius:20px;
  background-color: transparent;
  border:2px solid rgba(255,255,255,0.5);
  color:#FFFFFF;
  padding-left:15px;
  box-sizing: border-box;
}
.title{
  flex:1 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.title h3{
  color:#FFFFFF;
  font-size:30px;
  font-weight: 500;
  text-align: center;
}
.navRight .profile{
  width:34px;
  height:34px;
  border-radius:50%;
  overflow: hidden;
  
}
.navRight .profile img{
  width:34px;
  height:34px;
  border-radius:50%;
  object-fit: cover;
}
.logo img{
  filter: brightness(100);
}
.mainContainer {
  margin:30px 0px;
}
.mainContainer h3{
  font-size:24px;
  font-weight: 400;
  margin-bottom:15px;
}
.imgAnalysis{
  display: flex;
  margin-left:-15px;
  margin-right:-15px;
}
.imgAnalysis .iaRow{
  padding-left:15px;
  padding-right:15px;
  flex:1 1;
}
.imgAnalysis .iaRow .box{
  width:100%;
  min-height:300px;
  border-radius:5px;
  background-color: #ffffff;
  text-align: center;
  box-sizing: border-box;
}
.borderedBox{
  border:1px dashed rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  justify-content: center;
}
.borderedBox .bannerImg{
  width:100%;
  height:300px;
  object-fit: cover;
}
.skillBox{
  border:1px solid rgba(0,0,0,0.1);
  padding:15px 30px 5px;
  height:300px !important;
  overflow:auto;
}
.skillBox img{
  width:250px;
  max-width:90%;
  margin:10px auto;
}
.skillBox p{
  font-size:16px;
  margin-top:10px;
}
.borderedBox .browse{
  width:150px;
  height:32px;
  background-color:#FFFFFF;
  border:none;
  border-radius:20px;
  color:#000000;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border:2px solid rgba(0,0,0,0.3);
  margin:5px auto 0px;
}
.btnGroup{
  margin-top:20px;
  text-align: center;
}
.btnGroup .btns{
  width:120px;
  height:36px;
  border:none;
  border-radius:5px;
  
  font-weight: 600;
  font-size:12px;
  margin-right:10px;
}
.btnGroup .solidBtn{
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#141c29+0,3e4b64+100 */
background: rgb(20,28,41); /* Old browsers */
background: -moz-linear-gradient(left, rgba(20,28,41,1) 0%, rgba(62,75,100,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, rgba(20,28,41,1) 0%,rgba(62,75,100,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, rgba(20,28,41,1) 0%,rgba(62,75,100,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#141c29', endColorstr='#3e4b64',GradientType=1 ); /* IE6-9 */
  color:#FFFFFF;
}
.headercontainer{
  width:calc(100% - 40px);
  max-width:99%;
  margin:0px auto;
}
.dropzone_text img.upload{
  filter: brightness(0);
}
.btnGroup .dashedBtn{
  background-color: #FFFFFF;
  color:#3e4b64;
  border:2px solid #3e4b64;
}
.borderedBox .browse span{
  font-size:14px;
  font-weight: 600;
}
.borderedBox .browse input{
  position:absolute;
  width:100%;
  height:100%;
  left:0px;
  top:0px;
  border-radius:20px;
  cursor:pointer;
  opacity: 0;
}

.borderedBox  img.upload{
  margin-bottom:10px;
}
.borderedBox .or{
  font-size:12px;
  color:#999999;
  display: inline-block;
  margin-top:20px;
}


.dropzone_error{
  color: red;
  font-weight: 600;
}
.dropzone_text{
  cursor: pointer;
}
.result_title{
  text-align: left;
  font-weight: bold !important;
}
.loader_style{
  position: fixed !important;
  width: 100% !important;
  height: 100% !important;
  background-color: rgba(255, 255, 255, 0.3) !important;
  left:0px !important;
  top: 0px !important;
  z-index: 1500 !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

